{% extends "base.html" %}

{% load static %}

{% block navbar %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/activity">Activity</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/weekly">Weekly</a></li>
{% endblock %}

{% block content %}

	<div class="col-md-3 col-md-offset-1" style="text-align: center;">
		<br /><br />
		<h1> Flore </h1>
		{% for activité in activitées %}
            {%  if activité.user.first_name == "Flore" %}
			<h3>{{ activité.sport }}
                {%  if request.user == activité.user %}
                    <a href="/suppr_activity/{{ activité.id }}" id="suppr">
                        <span class="glyphicon glyphicon-remove" style="color: black; font-size: 15px;"></span>
                    </a>
                    {%  endif %}
            </h3>
            <p><strong>{{  activité.durée }} min</strong> - le {{ activité.date }} </p>
            {%  endif %}
		{% empty %}
		<p> No activity .. </p>
		{% endfor %}
		<p>
		</p>
	</div>

<div class="col-md-3 col-md-offset-1" style="text-align: center;">
    <br /><br />
    <h1> Diane </h1>
    {% for activité in activitées %}
    {%  if activité.user.first_name == "Diane" %}
    <h3>{{ activité.sport }}
        {%  if request.user == activité.user %}
        <a href="/suppr_activity/{{ activité.id }}" id="suppr">
            <span class="glyphicon glyphicon-remove" style="color: black; font-size: 15px;"></span>
        </a>
        {%  endif %}
    </h3>
    <p><strong>{{  activité.durée }} min</strong> - le {{ activité.date }} </p>
    {%  endif %}
    {% empty %}
    <p> No activity .. </p>
    {% endfor %}
    <p>
    </p>
</div>

<div class="col-md-3 col-md-offset-1" style="text-align: center;">
    <br /><br />
    <h1> Steph </h1>
    {% for activité in activitées %}
    {%  if activité.user.first_name == "Steph" %}
    <h3>{{ activité.sport }}
        {%  if request.user == activité.user %}
        <a href="/suppr_activity/{{ activité.id }}" id="suppr">
            <span class="glyphicon glyphicon-remove" style="color: black; font-size: 15px;"></span>
        </a>
        {%  endif %}
    </h3>
    <p><strong>{{  activité.durée }} min</strong> - le {{ activité.date }} </p>
    {%  endif %}
    {% empty %}
    <p> No activity .. </p>
    {% endfor %}
    <p>
    </p>
</div>

{% endblock %}
