{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Logo -->
<div class = "jumbotron" style="background-color: white;">
    <div class="row">
        <div class = "col-lg-10 col-lg-offset-1" style="text-align: center;">
            <img src="{% static 'img/number1.jpg' %}" class="img-responsive" alt="Logo yoga" style="max-height : 10em; display: block; margin:0 auto; ">
                </div>
    </div>
</div>
<!-- Register new activity -->
			<div class="col-md-4 col-md-offset-2 col-sm-6" style="text-align: center; margin-top: 2em;">
			<section id="Activity"><!--Activity -->

					<!-- Form Name -->
					<legend>Register a new activity</legend>

					<form method="post">
					    {% csrf_token %}
					    <p> Select your sport {{ form.sport }} </p>
					    <p> How long did you sweat (min) ? {{ form.duree }} </p>
                        <p> When was it? {{ form.date }} </p>
					    
					    <button type="submit">Submit</button>
					</form>

                    {% if envoi %} Well done <!-- {{ user.first_name }} --> ! {% endif %}
			</section>
            </div>


<!-- This week's leaderboard -->
            <div class="col-md-4 col-sm-6" style="text-align: center; margin-top: 2em;">
                <section id="Leaderboard"> <!-- Leader board -->
                    <h2> Leaderboard</h2>
                    <h3> {{ time }} </h3>
                    <ul>
                        <li> Number 1: </li>
                        <li> Number 2: </li>
                        <li> Number 3: </li>
                    </ul>
                </section>
            </div>


{% endblock %}
