{% extends "base.html" %}

{% load static %}

{% block navbar %}
    <li><a href="/">Home</a></li>
    <li><a href="/activity">Activity</a></li>
    <li class="active"><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/previousweeks">Previous weeks</a></li>
{% endblock %}

{% block content %}

<div class="col-md-offset-1 col-md-10">
    <div class="row">
    <h3 style="color: teal;">Tous sports confondus</h3>
    <div style="border-bottom: 1px solid teal"></div>
        <div class="col-sm-4">
            <h4>La plus courageuse</h4>
                <p>
                {%  for tab in tableau6|dictsortreversed:"temps" %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min </br>
                {% endfor %}
                </p>
        </div>
        <div class="col-sm-4">
            <h4>La plus svelte</h4>
                {%  for tab in tab_calories|dictsortreversed:"calories" %}
                    {{ tab.utilisateur.first_name }} a brûlé {{ tab.calories }} calories </br>
                {% endfor %}
        </div>
        <div class="col-sm-4">
            <h4>La plus régulière</h4>
                {%  for tab in tableau6|dictsortreversed:"fois" %}
                    {{ tab.utilisateur.first_name }} a fait du sport {{ tab.fois }} fois </br>
                {% endfor %}
        </div>
    </div>

    <div class="row">
    <h3 style="color: teal;">Par sport</h3>
    <div style="border-bottom: 1px solid teal"></div>
        <div class="col-sm-4">
            <h4>Yoga</h4>
                <p>
                {%  for tab in tableau1 %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min et a brûlé {{ tab.calories }} calories </br>
                {% endfor %}

                </p>
        </div>

        <div class="col-sm-4">
            <h4>Top Body Challenge</h4>
                <p>
                {%  for tab in tableau2 %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min et a brûlé {{ tab.calories }} calories </br>
                {% endfor %}
                </p>
            </div>

        <div class="col-sm-4">
            <h4>Cours les Mills</h4>
                <p>
                {%  for tab in tableau3 %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min et a brûlé {{ tab.calories }} calories </br>
                {% endfor %}
                </p>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            <h4>Elliptique</h4>
                <p>
                {%  for tab in tableau4 %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min et a brûlé {{ tab.calories }} calories </br>
                {% endfor %}
                </p>
        </div>
        <div class="col-sm-4">
            <h4>Jogging</h4>
                <p>
                {%  for tab in tableau5 %}
                    {{ tab.utilisateur.first_name }} a fait {{ tab.temps }} min et a brûlé {{ tab.calories }} calories </br>
                {% endfor %}
                </p>
        </div>
    </div>
</div>
{% endblock %}
